*{
    font-family: Bebas Neue;
    scroll-behavior: smooth;
}

html{
    min-width: 100px;
    
}
body{
    background-image: url("../Images/Great-ATuin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;

}

.toTheTop{
    position: relative;
    border: 1px solid coral;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
}

.navBar{
    width: 90%;
    height: 100%;
    margin: auto;
    color: white;
    background-color: rgba(0,0,0,0.9);
}
#navList{
    height: 10vh;
    display: flex;
    flex-direction: rows;
    justify-content: space-evenly;
    align-items: center;
    font-size: 28px;
    
}
#navList a{
    color: white;
    text-decoration: none;
}

.pageSection{
    width: 100%;
    height: 100vh;
}
.sectionDiv{
    width: 90%;
    height: 100%;
    margin: auto;
    border: 1px solid rgba(0,0,0,0);
    margin-bottom: 1px;
}

.lrborder{
    height: 100%;
    width: 90%;
    margin: auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.upperDiv{
    width: 100%;
    height: 10%;
    background-color: rgba(0,0,0,0.9);
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 1%;
}
.upperDiv p{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    font-size: 36px;
}
.mainDiv{
    width: 100%;
    height: 84%;
    background-color: rgba(0,0,0,0.9);
}

#pterryMainDiv{
    height: 98%;
    margin-top: 0.5%;
    display: flex;
    flex-direction: rows;
    flex-basis: 100%;
    justify-content: center;
}


