.lrborder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.slides{
    
    height: 80%;
    width: 80%;
    display: flex;
    overflow: hidden;
}


.slide{
    display: none;
    height: 100%;
}
.present{
    display: block;
}

.imgslides{
    width: 35%;
    height: 100%;
    text-align: center;
}

.textslides{
    
    height: 96%;
    width: 100%;
}

.bookcolour{
    border: 11px solid  #a1d2df;
    background-color: #8d7859;
}

