html{
    font-family: Bebas Neue;
}
body{
    margin: 0px;
    background-image: url("Great-ATuin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.main-container{
    
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    
    
}

#heroDiv{
    display: grid;
    grid-template-areas: "a c" 
                         "b c";
    flex-direction: rows;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: 0px;
    padding: 0px;
    color: white;
    
}

#heroImgDiv{
    grid-area: a;
    width: 400px;
    height: 400px;
    margin: 0px 5%;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.3);
    
}

#heroImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#heroHeadingDiv{
    grid-area: b;
    background-color: none;
    width: 400px;
    height: 100%;
    margin: 0px 5%;
    text-align: center;


}
#heroHeading{
    width: 100%;
    font-size: 36px;
    margin-top: auto;
    margin-bottom: 0px;
}

#heroPara{
    margin-top: auto;
    color: gray;
    font-size: 24px;
}

#heroPara2Div{
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    
    border-radius: 10px;
    
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: 5%;
}
#heroHeading2{
    font-size: 36px;
    text-decoration: underline;
    letter-spacing: 5px;
    margin: 0;
}

#heroPara2{
    width: 90%;
    font-size: 24px;
    margin: 0px;
    text-align: left;
    color: white;
}

#panel-1{
    margin: 0px;
    padding: 0px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    height: 100%;
    width: 100%;
}